<?php
return [
    'backend' => [
        'frontName' => 'bbd_admin'
    ],
    'db' => [
        'connection' => [
            'default' => [
                'host' => 'localhost',
                'dbname' => 'magento',
                'username' => 'root',
                'password' => '',
                'active' => '1',
                'model' => 'mysql4',
                'engine' => 'innodb'
            ]
        ],
        'table_prefix' => ''
    ],
    'session' => [
        'save' => 'files'
    ],
    'crypt' => [
        'key' => 'dbf05c21d50608fd79e2428f68c8fb62'
    ],
    'resource' => [
        'default_setup' => [
            'connection' => 'default'
        ]
    ],
    'x-frame-options' => 'SAMEORIGIN',
    'MAGE_MODE' => 'developer',
    'cache_types' => [
        'config' => 1,
        'layout' => 1,
        'block_html' => 1,
        'collections' => 1,
        'reflection' => 1,
        'db_ddl' => 1,
        'compiled_config' => 1,
        'eav' => 1,
        'customer_notification' => 1,
        'config_integration' => 1,
        'config_integration_api' => 1,
        'target_rule' => 1,
        'full_page' => 1,
        'config_webservice' => 1,
        'translate' => 1,
        'vertex' => 1
    ],
    'install' => [
        'date' => 'Fri, 02 Nov 2018 16:50:59 +0000'
    ]
];
